.xcapp-logo-icon {
  background-image: url("images/xcapp/xc-logo.png") !important;
  background-size: contain;
}

.xc-location{
  background-image: url("images/xcapp/location.png") !important;
  background-size: contain;
}

.xc-play{
  background-image: url("images/xcapp/play.png") !important;
  background-size: contain;
}

.xc-pause{
  background-image: url("images/xcapp/pause.png") !important;
  background-size: contain;
}

.xc-stop{
  background-image: url("images/xcapp/stop.png") !important;
  background-size: contain;
}
