@include extjs-panel-ui (
        $ui: 'rtm-tree-grid-ui',
        $ui-header-color: #2980b9
);

//修改显示巡查人员checkbox字体颜色
$form-label-font-color: #000000;

$panel-wrap-border-color : #FF0000;

.x-tree-icon {
  width: 0px;
  height: 0px;
  line-height: 33px;
  color: #5fa2dd;
  font-size: 16px;
}

.x-tree-icon-parent-expanded:before {
  content: '';
}

.x-tree-icon-leaf:before {
  content: '';
}

.x-tree-icon-parent:before {
  content: '';
}

.x-tree-node-text {
  padding-left: 5px;
}

.x-tree-elbow-img {
  width: 5px;
}

.x-btn-inner-default-small {
  color: #000000;
}

.jz-tool-setting {
  background-image: url("images/jz/setting.png");
  background-size: contain;
}
$grid-row-cell-focus-border-style:none;
$button-color: #000000;
$button-border-color: #ffffff;

.x-grid-row-blue {
  background-color: blue;
  color: white;
}

.x-grid-row-yellow {
  background-color: #ffd315;
  color: white;
}

.x-grid-row-green {
  background-color: green;
  color: white;
}

.x-grid-row-red {
  background-color: red;
  color: white;
}