/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */
$enable-font-awesome: dynamic(true);

$font-family: '微软雅黑';
$font-size: 14px;
$color: rgba(0, 0, 0, 1);

//自定义变量
$MyThemeCommonBGColor: #ececec;
$MyThemeColor: rgba(41, 128, 185, 1.0);
$MyThemeFocusColor: rgba(41, 128, 185, 1.0);
$MyPanelBGColor: #ffffff;
$TextBorderColor:rgba(188, 194, 198, 1.0);

//主题预定义变量
$panel-body-background-color: $MyPanelBGColor;
$button-large-font-size: 18px;
$button-large-font-family: '等线 Light';
$form-label-font-color: #000000;
$button-default-base-color: $MyThemeColor;

//地图搜索框主题预定义变量
$form-field-border-color: $TextBorderColor;
$form-field-focus-border-color: $TextBorderColor;

//地图泡泡高度
.olPopup{
  height: 27px !important;
}

.x-title-text-navigation:after {
  display: none !important;
}

.x-title-text-default:after {
  display: none !important;
}

.x-title-text-float-panel:after {
  display: none !important;
}

.x-title-text-window-panel-ui:after {
  display: none !important;
}